.home {
    display: flex;
    justify-content: center;
    padding-top: 20%;
    font-size: 6rem;
    color: antiquewhite;

    width: 100vw;
    height: 96.3vh;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
        url("../../assets/typewriter.jpg");
    background-size: cover;
}